.main {
  background-color:#f2f8f9;
  padding: 80px 0;
  text-align: center;
}

.blogRow {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogColumn {
  flex: 0 0 48%;
  margin-bottom: 30px;
  background-color: #ffd700;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.blogColumn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.heading {
  margin-bottom: 50px;
}

.postTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.postContent {
  margin-bottom: 20px;
  padding: 10px;
  text-align: justify;
  color: #555;
}
